:root {
    --primary-color: #ffffff;
    --secondary-color: #3F3D39;
    --tertiary-color: #4F758a;
    --button-color: #ffc72c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.15;
}

body {
    font-family: Lato, sans-serif;
    color: var(--secondary-color);
}

section {
    margin: 3% 0;
    padding: 3%;
    background-color: #efefef;
}

/*Header Section*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: var(--primary-color);
}

.logo-section {
    width: 100%;
    padding: 1%;
    border-bottom: solid 1px var(--tertiary-color);
}

.logo {
    width: 30%;
    margin: 0 auto;
    transition: 0.2s;
}

.originator-btn {
    position: fixed;
    top: 3%;
    right: 5%;
}

.originator-btn {
    color: var(--secondary-color);
    text-decoration: none;
    background-color: var(--button-color);
    padding: 30px 70px 30px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(39, 38, 38, .25);
}

.originator-btn:hover {
    background-color: var(--primary-color);
    border: solid 1px var(--tertiary-color);
}

.originator-btn h3 {
    width: 70%;
}

header a{
    color: var(--secondary-color);
    text-decoration: none;
}

header a:hover {
    color: var(--tertiary-color);
}

nav {
    width: 85%;
    font-size: .75vw;
}

nav ul {
    display: flex;
    justify-content: center;
}

.nav-parent {
    display: inline;
    text-decoration: none;
    margin: 1%;
    padding: .5% 1%;
    text-align: center;
}

.drop-down {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    display: none;
    text-decoration: none;
    position: absolute;
}

nav ul li:hover .drop-down {
    display:block;
    text-decoration: none;
    list-style-type: none;
    background-color: var(--button-color);
    color: var(--secondary-color);
    text-align: left;
    padding: .5%;
}

.nav-child a {
    text-decoration: none;
    padding-top: 5px;
    font-size: large;
}



/* Hero Section*/
.hero {
    background: url("../images/hero-photo.jpg");
    background-color: white;
    background-position: fixed;
    background-position-y:center;
    background-size: cover;
    height: 1000px;
    background-repeat: no-repeat;
    margin: 0;
}

.hero.relative {
    position: relative;
}

.clickapproval {
    position: absolute;
    top: 1000px;
}




/* Hero Section End*/

/* Services Section*/

/* Services Section End*/

/* Product Section*/
/* Product Section End*/

/* ClickApproval Section*/
/* ClickApproval Section End*/

/* About Us Section*/
/* About Us Section End*/

/* News Section */
/* News Section End */

/* Footer Section */

    /* Customer Reviews Section */
    /* Customer Reviews Section End*/

    /* Contact Section */
    /* Contact Section End */

    /* Page Index */
    /* Page Index End */

    /* Disclosure Section */
    /* Disclosure Section End */

/* Footer Section End */

/* Media Queries 900px */

/* Media Queries 600px */




